html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.block-link {
    background-color: #9400d3;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: none;

}

.end {
    position: relative;
    right: 100px;
}

.start {
    position: relative;
    left: 119px;
}

.block-container2 {
    display: flex;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row1 {
    display: flex;
    margin-bottom: 20px;
}

.vertically1 {
    flex-direction: column;
}

.vertically2 {
    flex-direction: column;
}

.left3 {
    margin-left: 130px;
}

.left4 {
    margin-left: 70px;
}

.row2 {
    display: flex;
}

.square {
    margin-left: 20px;
}

.square-no-margin-left {
    margin-left: -20px;
}


.right {
    margin-right: 20px;
}

.top {
    margin-top: 20px;
}

.top2 {
    margin-top: 70px;
}

.top3 {
    margin-top: 120px;
}


.bottom {
    margin-bottom: 20px;
}
