html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #1e1e1e;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.block-link {
    background-color: #9400d3;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: none;

}

.end {
    position: relative;
    right: 99px;
}

.start {
    position: relative;
    left: 119px;
}

.block-container2 {
    display: flex;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row1 {
    display: flex;
    margin-bottom: 20px;
}

.vertically1 {
    flex-direction: column;
}

.vertically2 {
    flex-direction: column;
}

.left3 {
    margin-left: 130px;
}

.left4 {
    margin-left: 70px;
}

.row2 {
    display: flex;
}

.square {
    margin-left: 20px;
}

.square-no-margin-left {
    margin-left: -20px;
}


.right {
    margin-right: 20px;
}

.top {
    margin-top: 20px;
}

.top2 {
    margin-top: 70px;
}

.top3 {
    margin-top: 120px;
}


.bottom {
    margin-bottom: 20px;
}
@keyframes onetext {
    0% {
        visibility: hidden;
    }
    1% {
        color: #1e1e1e;
    }
    50% {
        visibility: hidden;
    }
    65% {
        visibility: visible;
    }

    75% {
        visibility: visible;
    }
    92% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
.onetext {
    color: white;
    font-size: 68px;
    font-family: Arial;
    position: relative;
    animation-name: onetext;
    left: 480px;
    animation-duration: 8.5s;
    animation-fill-mode: forwards;
    white-space: nowrap;
}
@keyframes twotext {
    0% {
        visibility: hidden;
    }

    20% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    62% {
        visibility: visible;
    }

    75% {
        visibility: visible;
    }
    92% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
.twotext {
    color: white;
    font-size: 68px;
    font-family: Arial;
    position: relative;
    right: 480px;
    animation-duration: 8.5s;
    animation-name: twotext;
    animation-fill-mode: forwards;
    white-space: nowrap;
    
}
.section{
    margin: 0 auto;
}
.wrapper{
    width:450px;
    height:450px;
    margin: 0 auto;
}
.wrapper .cell{
    border: 1px solid rgb(170, 163, 163);
    cursor: pointer;
    float: left;
    font-size: 100px;
    height: 148px;
    text-align: center;
    width: 148px;
}
.cell {
    color: rgba(214, 21, 21, 0.993);
    font-size: 68px;
    font-family: Arial;
}
.cross {
    display: none;
}
.zero {
    display: none;
}
.box {
    perspective: 1000px;
}
.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.box:hover .box-inner {
    transform: rotateY(180deg);
}
.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.box-front {
    color: white;
    margin-right: 10px;
}
.box-back {
    color: #1e1e1e;
    transform: rotateY(180deg);
} 
.reload {
    position: relative;
    right: 400px;
    bottom: 250px;
}
.game {
    position: relative;
    left: 595px;
    bottom: 250px;
}
.mainmenu {
    position: relative;
    left: 150px;
    bottom: 150px;
    display: none;
}

.game {
   animation-name: crosses-zeroes;
   animation-duration: 90s;
   animation-fill-mode: forwards;
}
.reload {
   animation-name: crosses-zeroes;
   animation-duration: 90s;
   animation-fill-mode: forwards;
}

@keyframes animation {
    0% {
        left: 0px;
    }
    25% {
        left: 0px;
    }
    50% {
        left: 640px;
    }

    75% {
        left: 640px;
    }
    90% {
       left: 640px;
    }
    
    100% {
        left: 1600px;
    }
}

.block-line2 {
    position: relative;
    background-color: auto;
    animation-name: animation;
    animation-duration: 8.5s;
    animation-fill-mode: forwards;
    
}
@keyframes crosses-zeroes {
    0% {
        visibility: hidden;
        
    }
    10% {
        visibility: hidden;
        
    }
    90% {
        visibility: visible;
    }
    
    100% {
        visibility: visible;
    }
}
@keyframes animation2 {
    0% {
        right: 0px;
    }
    25% {
        right: 0px;
    }
    50% {
        right: 425px;
    }

    75% {
        right: 425px;
    }
    90% {
       right: 425px;
    }
    
    100% {
        right: 1600px;
    }
}

.block-line1 {
    position: relative;
    background-color: auto;
    animation-name: animation2;
    animation-duration: 8.5s;
    animation-fill-mode: forwards;
    
}

@keyframes animation3 {
    100% {
        bottom: 0px;
    }
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 0px;
    }

    50% {
        bottom:  1000px;
    }

    75% {
        bottom: 1000px;
    }

    100% {
        bottom: 1000px;
        
    }
}

.block-link1 {
    position: relative;
    background-color: auto;
    animation-name: animation3;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}

@keyframes animation4 {
    0% {
        top: 0px;
    }

    25% {
        top: 0px;
    }

    50% {
        top: 1000px;
    }

    75% {
        top: 1000px;
    }

    100% {
        top: 1000px;
    }
    
}

.block-link2 {
    position: relative;
    background-color: auto;
    animation-name: animation4;
    animation-duration: 15s;
    animation-fill-mode: forwards;
}
